apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infrastructure
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/manifest-crossplane-poc/gitops.git
        revision: main
        directories:
          - path: environments/*/*
  template:
    metadata:
      name: "infrastructure-{{path[1]}}-{{path.basename}}"
      labels:
        environment: "{{path[1]}}"
        layer: "{{path.basename}}"
        app.kubernetes.io/managed-by: argocd-applicationset
    spec:
      project: default
      source:
        repoURL: https://github.com/manifest-crossplane-poc/gitops.git
        targetRevision: main
        path: "{{path}}"
      destination:
        server: https://kubernetes.default.svc
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
